.section_advantages__introduction--texts,
.sect_masthead__introduction--texts {
    font-size: 18px;
    line-height: 24px;
    color: hsl(0, 3%, 66%);
}

.section_advantages__articles--texts {
    font-size: 18px;
    line-height: 24px;
    color: hsl(0, 3%, 66%);
}

.section_latest__articles--author {
    font-size: 14px;
    line-height: 18px;
    color: hsl(0, 3%, 66%);
}

.section_latest__articles--subTitle {
    font-family: 'Public Sans Medium';
    font-size: 18px;
    line-height: 28px;
}

.section_latest__articles_text {
    font-size: 16px;
    line-height: 22px;
    color: hsl(0, 3%, 66%);
}