.nav_icon_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    li {
        a {
            span {
                display: none;
            }
            svg {
                fill: #fff;
            }
        }
    }
}

@media(min-width:1114px) {
    .all_icons_container {
        align-items: baseline;
        row-gap: 40px;
    }
}