body>footer {
    background-color: hsl(233, 26%, 24%);
    padding-top: 80px;
    .footer_mainContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 40px;
        .butonn_invite {
            text-align: center;
        }
        .footer_icons--container {
            display: flex;
            flex-direction: column;
        }
    }
}

@media(min-width: 1114px) {
    body>footer {
        padding-top: 30px;
        .footer_mainContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            padding-bottom: 15px;
        }
    }
}