.section_advantages {
    padding-top: 80px;
    // padding-bottom: 80px;
    background-color: hsl(195, 33%, 95%);
    .section_advantages_container {
        .articles {
            text-align: center;
        }
    }
}

@media(min-width: 1114px) {
    .section_advantages {
        .section_advantages_container {
            .introduction_container {
                h3,
                p {
                    text-align: start;
                }
            }
            article {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 30px;
                padding-top: 80px;
            }
            .articles {
                text-align: start;
            }
        }
    }
}