.section_advantages {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: hsl(195, 33%, 95%);
    .section_advantages_container {
        .articles {
            text-align: center;
        }
    }
}