.section_more_articles {
    background-color: hsl(192, 20%, 95%);
    padding-top: 80px;
    padding-bottom: 80px;
}

.section_latest__articles--item {
    margin-top: 30px;
}

.section_latest_articles--imgfigcaption {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 163px;
}

.section_latest__articles--textContainer {
    background-color: #ffffff;
    padding: 40px 30px;
}

@media(min-width: 1114px) {
    .section_more_articles {
        .section_latest__articles--subContainer {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 30px;
        }
        h3 {
            text-align: start;
        }
    }
}